@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
}
:root {
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}

body {
    /* background-color: rgb(67, 67, 15); */
    font-family: 'spartan', sans-serif;
    margin: 0;
   /* width: 100vw; */
    max-width: 100%;
}

h1 {
    font-weight: 700;
    margin-top: 3.5rem;
  
}
p {
    color: var(--Dark-Gray);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 3.5rem;
 
}


header {
    z-index: 10;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex div {
    padding: 20px 0;
   z-index: 20;
}

 .flex .hamburger {
    /* display: none; */
    margin-left: -140px;
    z-index: 50;
}

.flex .hamburger.appear {
    display: none;
}

.flex .cancel{
    display: none;
    z-index: 20;
}

.flex .cancel.appear{
    display: flex;
}
.flex .logo {
    /* display: none; */
    z-index: 20;
} 

.flex .logo.appear {
        display: none;
}

.flex .navs  {
    display: none;
    font-weight: 700;
    z-index: 20;  
}

.flex .navs.appear {
    display: flex;
}

.flex ul {
    display: flex;
    justify-content: space-between;
   list-style-type: none; 
}

.flex ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.slides .image-container .mob_image {
    width: 440px;
}


.slides .image-container .desc_image {
    display: none;
}

.slides .direction-container {
    display: flex;
    justify-content: flex-end;
     margin-top: -58px;
   
}

.slides .direction-container .left {
    background-color: var(--Black);
    padding: 15px 25px;
}

.slides .direction-container .right {
    background-color: var(--Black);
    padding: 15px 25px;
} 

.slides .allSlide {
    padding-left: 2rem;
    padding-right: 2rem;
} 

.slides .allSlide a {
    color: var(--Black);
    font-family: 'spartan', sans-serif;
    font-weight: 500;
    letter-spacing: 10px;
    text-decoration: none;
    /* margin-top: 3rem; */
}


.one  {
   margin-top: -70px;
}


.two {
    display: none;
    margin-top: -70px;
} 
.three {
    display: none;
    margin-top: -70px;
}   

.one.appear, .two.appear, .three.appear{
    margin-top: 0px;
}

.four {
    padding-top: 5rem;
    width: 440px;
  
}

.about_furniture .allSlide h1 {
    font-size: 12px;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-left: 3rem;
    padding-right: 3rem;
}

.about_furniture .allSlide p {
    padding-left: 3rem;
    padding-right: 3rem;
}



@media screen and (min-width:760px){
    body {
        /* background-color: yellow; */
        max-width: 100%;
    
    }

    .flex {
        justify-content: flex-start ;
        margin-left: 4rem;
        margin-top: 2rem;
    }

    .flex .hamburger {
        display: none;
    }

    .flex .navs {
        display: flex;
        color: var(--White);
        font-weight: 500;
        font-size: 0.9rem;
    }

    .flex .navs ul li {
        cursor: pointer;
    }

   .slides .row {
       display: flex;
       align-items: center;
       margin-top: -123px;
   }

   .slides .allSlide {
       padding: 0;
       margin: 0 auto;
       margin-left: -2.5rem;
       margin-right:3rem ;
   }   

    .slides .image-container .mob_image {
        display: none;
    }

    .slides .image-container .desc_image {
        display: flex;
        width: 819px;
    }

    .slides .direction-container {
        margin-top: 465px;
        cursor: pointer;
    }

    .slides .direction-container .left:hover {
        background-color: var(--Dark-Gray);
    }

    
    .slides .direction-container .right:hover {
        background-color: var(--Dark-Gray);
    }



    .slides .allSlide h1 {
        font-size: 2rem;
    }

    .slides .allSlide p {
        font-size: 0.9rem;
    }

    
.slides .allSlide a:hover {
   color: var(--Dark-Gray);
}

    
.slides .allSlide a img:hover {
    color: var(--Dark-Gray);
 }

    .two {
        display: none;
    }

    .three{
        display: none;
    }

    



    .about_furniture {
        display: flex;
        align-items: flex-start;
    }

    .about_furniture .fur_image {
        width: 30%;
    }

    .about_furniture .allSlide {
        margin: 3rem 1.5rem;
    }
    .about_furniture .allSlide h1 {
        margin-top: 0; 
        padding: 0;

    }
   
    .about_furniture .allSlide p {
        padding: 0;
    }


   .four {
       padding-top: 0;
       
   }
}